{% extends 'base.html.twig' %}

{% block title %}EatYV |
{% endblock %}

{% block body %}
	{% include('nav.html.twig') %}<br>
	<div class="container">
		<div class="row">

			<div class="col-6 offset-3">
				<div class="card bg-light card-register-login">
					<div class="card-body">
						<br><div class="card-header">
							<b>Reservation for:</b>
							{{ reservation.reservationForFirstName }} {{ reservation.reservationForSecondName }}
						</div>
						<div class="card-body">
							<b>Message:</b>
							{{ reservation.message }}
						</div>
                        

						<div class="card-header">
							<center>
								<a href="/" class="btn btn-dark">Back</a>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include('footer.html.twig') %}
{% endblock %}