{% extends 'base.html.twig' %}

{% block title %} {{ profile.getUserProfileId().getUsername() }} Profile
{% endblock %}

{% block body %}
	{% include('nav.html.twig') %}<br>
	<div class="container">
		<div class="row">

			<div class="col-6 offset-3">
				<div class="card bg-light card-register-login">
					<div class="card-body">


						<br><div class="card-header">
							<b>Title:</b>
							{{ profile.firstName }}
						</div>
						<div class="card-body">
							<b>Description:</b>
							{{ profile.secondName }}
						</div>

						<div class="card-header">
							<center>
                                <button onclick="window.history.go(-1); return false;" class="btn btn-orange">Back to recipe</button>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include('footer.html.twig') %}
{% endblock %}
