{% block stylesheets %}<link href="{{ asset('/css/style.css') }}" rel="stylesheet"/>
{% endblock %}
<footer>
    <div class="bottom-bar">
          All Rights Reserved © 2019 
    </div>
  </footer>
</nav>